* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

button {
  border-radius: 5px;
  border: none;
  font-family: "Share Tech Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  box-shadow: 1px 1px 3px 0 black;
}

#zero {
  grid-column: span 2;
}

#equals {
  grid-row: span 2;
  font-weight: bold;
  font-Size: 40px;
}

.fas {
  transform: translateY(1px);
}

.bg-red {
  background-color: rgb(250, 50, 50);
  color: rgb(230, 230, 230);
  border: 2px solid rgb(200, 50, 50);
}

.bg-darkgray {
  background-color: rgb(100, 100, 100);
  color: rgb(250, 150, 50);
  border: 2px solid rgb(80, 80, 80);
}

.bg-lightgray {
  border: 2px solid rgb(150, 150, 150);
}

.bg-orange {
  background-color: rgb(250, 150, 50);
  color: rgb(230, 230, 230);
  border: 2px solid rgb(200, 120, 50);
}

button:active, button.active {
  transform: scale(95%);
}

i.small {
  font-size: 10px;
}